* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg-grey);
}

/* ======= Variables ======= */

:root {
  --green: #58c770;
  --green-highlight: #5ed678;
  --green-lowlight: #489b5a;
  --bg-grey: #f4f4f4;
  --white: #fff;
  --box-shadow: #e0e0e0;
  --black: #232121;

  /* buttons */
  --button-disabled-bg: #c4c4c4;
  --button-disabled-text: #808080;

  --border-radius: 25px;
}

.red {
  color: rgb(150, 33, 33);
}

.blue {
  color: rgb(15, 38, 126);
}

.purple {
  color: rgb(129, 54, 172);
}

.green {
  color: rgb(20, 131, 33);
}

.gold {
  color: rgb(255, 223, 0);
}

i {
  margin: 20px 20px 20px 20px;
}

/* ======= Default Styles ======= */

button {
  width: 150px;

  border-radius: 35px;

  background-color: var(--green);
  color: var(--white);

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 7.5px;
  font-size: 15px;

  border-style: none;

  cursor: pointer;
  /* added in */
  line-height: 1.55;
}

button:hover {
  background-color: var(--green-highlight);
}

/* ======= Specific Styles Styles ======= */

/* ==== Header ==== */
header {
  width: 100%;
  position: relative;
  background: var(--bg-grey);

  padding: 30px;
}

header img {
  width: 150px;
  display: block;
  margin: 0 auto;
}

header button {
  position: absolute;
  top: 30px;
  right: 15px;
}

/* ==== User info ==== */
#user-info {
  width: 700px;
  height: 150px;

  position: relative;

  overflow: hidden;

  background: var(--white);
  border-radius: var(--border-radius);

  margin: 15px auto;
}

#badge-collection {
  width: 200px;
  height: 30px;
  background: var(--green-highlight);
}

#badge-name {
  margin: 0;
}

/* ==== badges ==== */

#badge-display {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.badge {
  height: 20px;
  margin: 7px;
}

/* ==== Habit containers ==== */

#habits,
#completedHabits {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#activeHabitsHiddenTitle,
#completedHabitsHiddenTitle {
  display: none;
  text-align: center;
}

h4 {
  font-family: poppins, sans-serif;
  font-weight: 600;
}

.habit-container {
  width: 260px;
  height: 340px;
  overflow: hidden;

  position: relative;

  margin: 15px;

  background: var(--button-disabled-text);

  border-radius: var(--border-radius);

  box-shadow: 0 5px var(--box-shadow);

  transition-duration: 0.5s;
}

.habit-container:hover {
  transform: scale(1.05);
}

.habit-gradient {
  /* opacity: 0.1; */
  position: absolute;
  top: 0;
  height: 100%;
}
.habit-container button {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0;
}

.habit-container button:hover {
  background: var(--green-highlight);
}

.habit-details {
  position: absolute;
  width: 100%;
  z-index: 1;
  text-align: center;
  font-family: "Poppins", sans-serif;

  padding: 15px;

  color: var(--white);
}
.habit-details h2,
h3 {
  font-weight: 600;
  margin: 10px 0 0 0;
  font-size: 30px;
  /* added in */
  line-height: 44.8px;
}
.habit-details h2 {
  font-size: 25px;
  margin: 10px 0;
  /* added in */
  line-height: 37.6px;
}
.habit-details p {
  font-weight: 400;
  margin: 0 0 5px 0;
  font-size: 20px;
}
#add-to-total {
  width: 40px;
  height: 40px;

  right: 15px;
  bottom: 50px;

  z-index: 3;

  padding: 0;
  border-radius: 30px;
}
/* ==== New habit ==== */

#new-habit {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 0;
  line-height: 1.55;
}

#add-new-habit,
#add-new-reminder {
  z-index: 3;
  height: 300px;
  width: 380px;

  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background-color: var(--button-disabled-text);

  overflow: hidden;

  border-radius: var(--border-radius);
}
#add-new-habit label,
input,
#add-new-reminder label {
  color: var(--white);
  display: block;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;

  margin: 15px auto 10px auto;
  text-align: center;
}
#add-new-habit input,
#add-new-reminder input {
  color: var(--green);
  display: block;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;

  margin: 15px auto 10px auto;
  text-align: center;
  /* added in  */
  width: fit-content;
  height: 30px;
  padding: 1px 2px;
  background-color: white;
  border-radius: 2px;
  border: none;
}

#add-new-habit input[type="submit"],
#add-new-reminder input[type="submit"] {
  width: 100%;

  border-radius: 35px;

  background-color: var(--green);
  color: var(--white);

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 7.5px;
  font-size: 15px;

  border-style: none;
  border-radius: unset;

  cursor: pointer;

  position: absolute;
  bottom: 27px;
  /* added in */
  line-height: 1.55;
  height: 38px;
}

#close-button,
#close-button-reminder {
  background-color: var(--button-disabled-bg);
  color: var(--button-disabled-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: unset;
}

.closed {
  display: none;
}

#profile {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 7.5px;
  font-size: 15px;
}

/* added in */
#profileName {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 100%;
  margin: 18.675px 0;
}

.fa-user-circle {
  margin: 20px 20px;
}

#myChart {
  position: absolute;
  right: 10px;
}

#hidden button {
  display: none;
  margin: Auto;
}

#email-reminder {
  width: 40px;
  height: 40px;
  right: 200px;
  bottom: 50px;
  z-index: 3;
  padding: 0;
  border-radius: 30px;
  background-color: var(--green);
}

#email-reminder:hover {
  background-color: var(--green-highlight);
}

button.remove::after {
  content: "delete";
}
@media only screen and (max-width: 600px) {
  #user-info {
    width: 80%;
    height: 150px;
  }
  header button {
    display: none;
  }
  .habit-container {
    width: 80vw;
    height: 100px;
    flex-direction: row;
  }
  .habit-container img {
    width: 80vw;
  }
  #add-to-total {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
    height: 100%;
    border-radius: 0;
    font-size: 30px;
  }

  .habit-container button {
    position: absolute;
    bottom: 0;
    width: 15%;
    height: 100%;
    transition: 2s;
    z-index: 3;
  }

  .habit-container button.remove:hover {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    font-size: 30px;
    background-color: red;
  }
  .habit-details {
    padding: 0;
    height: 100%;
    position: relative;
  }
  .habit-details h3,
  p {
    text-align: center;
    height: auto;
    padding-right: 15px;
    display: inline;

    color: var(--white);

    margin: 0;
  }
  .habit-details h2 {
    text-align: center;
    height: auto;
    color: var(--white);

    margin: 0;
  }

  .habit-details h2 {
    font-size: 30px;
    margin: 10px 0;
  }
  .habit-details h3 {
    font-size: 20px;
  }
  .habit-details p {
    font-weight: 400;
    font-size: 20px;
  }
  #hidden button {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  #user-info {
    width: 80%;
    height: 300px;
  }
  #profile {
    flex-wrap: wrap;
  }
  .fa-user-circle {
    width: auto;
    margin: auto;
  }
  #profileInfo {
    width: 50%;
  }

  #myChart {
    width: 40%;
    position: relative;
    right: auto;
    margin: 20px auto auto auto;
  }

  header button {
    display: none;
  }
  .habit-container {
    width: 80vw;
    height: auto;
    flex-direction: row;
  }
  .habit-container img {
    width: 80vw;
  }
  #add-to-total {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
    height: 100%;
    border-radius: 0;
    font-size: 30px;
  }

  .habit-container button {
    position: absolute;
    bottom: 0;
    width: 15%;
    height: 100%;
    transition: 2s;
    z-index: 3;
  }

  button.remove::after {
    content: "X";
    font-size: larger;
    font-weight: bolder;
  }
  .habit-container button.remove:hover {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    font-size: 30px;
    background-color: red;
  }

  .habit-details {
    padding: 0;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .habit-details h3,
  p {
    text-align: center;
    height: auto;
    display: inline;
    padding: 0;

    color: var(--white);

    margin: 0;
  }
  .habit-details h2 {
    text-align: center;
    height: auto;
    color: var(--white);
    font-size: 25px;
    width: 60%;

    margin: auto;
  }

  .habit-details h3 {
    font-size: 20px;
  }
  .habit-details p {
    font-weight: 400;
    font-size: 20px;
  }

  #hidden button {
    display: block;
  }
  #badge-display {
    display: none;
  }
}

#reminderImage {
  margin: 0 !important;
}
