:root {
  --green: #58c770;
  --bg-grey: #f4f4f4;
  --white: #fff;
  --box-shadow: #e0e0e0;
  --black: #232121;

  /* buttons */
  --button-disabled-bg: #c4c4c4;
  --button-disabled-text: #808080;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--bg-grey);
}

header {
  width: 100vw;

  background: var(--bg-grey);

  padding: 30px;
}

header img {
  width: 150px;
  display: block;
  margin: 0 auto;
}

#main-container {
  height: calc(100vh - 109px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-signin {
  width: 450px;
  height: 350px;

  padding: 30px;

  border-radius: 25px;

  margin: 0 auto;

  position: relative;

  background: var(--white);
  text-align: center;

  box-shadow: 0 10px var(--box-shadow);
}

#login-signin label {
  margin: 0 15px;
}
#login-signin button {
  width: 50%;

  top: 0;

  border-radius: 35px;

  background: var(--button-disabled-bg);
  color: var(--button-disabled-text);

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 7.5px;
  font-size: 15px;

  border-style: none;

  cursor: pointer;
}
#login-signin button.left {
  position: absolute;
  height: 40px;

  left: 0;
  border-radius: 25px 0 0 0;
}
#login-signin button.right {
  position: absolute;
  height: 40px;

  right: 0;
  border-radius: 0 25px 0 0;
}
#login-signin button.active {
  background-color: var(--green);
  color: var(--white);
}
form {
  margin: 30px;
}
form * {
  margin: 7.5px 0;
}

form h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 45px;
  margin-bottom: 30px;
}

form label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

form input[type="submit"] {
  width: 150px;

  position: relative;

  top: 30px;

  border-radius: 35px;

  background-color: var(--green);
  color: var(--white);

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 7.5px;
  font-size: 15px;

  border-style: none;

  cursor: pointer;
}
form input[type="text"],
input[type="password"] {
  border-bottom: 2px solid black;
  width: 200px;
  height: 30px;
  color: var(--green);
  font-weight: 600;
  font-size: 20px;

  padding-left: 15px;
}
